html,
body {
  padding: 0;
  margin: 0;
  font-family: fontArab
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

hr.dashed {
  border-top: 1px dashed #34656d;
}

.numcontainer {
  position: relative;
  text-align: center;
  color: white;
  
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.75rem;
}

.circle{
  display: inline;
  width: 40px;
  height: 40px;
  top: 20%;
  /* left: 18%; */
  position: absolute;
  border: 2px solid black; 
  border-radius: 50%;
}

@font-face {
  font-family: fontArab;
  src: url('LPMQ.ttf');
}

.arab {
  font-family: fontArab;
  line-height:  2;
}

/* HTML: <div class="loader"></div> */
.loader {
  --d:22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #25b09b;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d))     calc(0*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {transform: rotate(1turn)}
}
